<html>
<head>
  <title>Chattr</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" media="screen" rel="stylesheet" />
  <link href="https://code.jquery.com/ui/1.11.2/themes/dark-hive/jquery-ui.css" media="screen" rel="stylesheet" 	/>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/application.css" media="screen" rel="stylesheet" 	/>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ember.js/1.9.1/ember.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="/javascripts/xml2json.min.js"></script>
  <script src="/javascripts/app.js"></script>

</head>
<body>
<div class="titlebar">
<h1 class="titleText">Chattr</h1>

</div>
<div id="main">
<%= yield %>
</div>	
</body>
</html>
